*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.regras{
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 14px;
}

.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    height: 280px;
    width: 280px;
    box-shadow: 2px 2px 6px;
    background-color: whitesmoke;
}

.layout h1 {
    color: steelblue;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.layout input{
    outline-color: steelblue;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    border-radius: 4px;
    height: 28px;
    width: 200px;
    background-color: rgb(181, 213, 240);
}

.layout button{
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
    height: 24px;
    width: 100px;
    background-color: steelblue;
}

.layout button:hover{
    background-color: rgb(37, 88, 129);
}