*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 18px;
    box-shadow: 2px 2px 5px #000000;
    background-color:whitesmoke;
}

.layout img{
    width: 80px;
    margin-bottom: 8px;
}

.layout h1{
    color:#ce3a20;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.subtitle{
    text-align: center;
    margin-bottom: 10px;
}

.layout input {
    text-align: center;
    outline-color: steelblue ;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 220px;
    margin-bottom: 10px;
    background-color: rgb(206, 233, 255);
}

.layout button{
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    height: 24px;
    width: 108px;
}

.media{
    background-color:#ce3a20;
}

.add{
    background-color: steelblue;
}


